[submodule "geometry-central"]
	path = external/geometry-central
	url = git@github.com:nmwsharp/geometry-central.git
[submodule "libigl"]
	path = external/libigl
	url = git@github.com:libigl/libigl.git
